@import "common";
@import "compass/reset";

body {
  padding-bottom: 75px;
  font: 14px/1.5 "proximanova-light";
  background: $body-background;
  color: $body-text;
}

.container {
  margin: 0 15%;
}
