@import "common";
@import "compass/reset";

body {
  padding: 75px 0;
  font: 14px/1.5 "proximanova-light";
  background: $body-background;
  color: $body-text;

  @include greater-than(640px) {
    padding-top: 180px;
  }
}

.container {
  margin: 0 10%;
}
