@import "compass/css3/font-face";

$variations: (
  "light",
  "regular",
  "semibold",
  "bold",
  "black"
);

@each $variation in $variations {
  @font-face {
    font-family: "proximanova-#{$variation}";
    src: url(asset-path("proximanova/#{$variation}.eot"));
    src: url(asset-path("proximanova/#{$variation}.eot")) format('embedded-opentype'),
    url(asset-path("proximanova/#{$variation}.woff")) format('woff'),
    url(asset-path("proximanova/#{$variation}.ttf")) format('truetype'),
    url(asset-path("proximanova/#{$variation}.svg")) format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
