@import "common";

h2 {
  margin-bottom: 15px;
  font: 14px/1.5 "proximanova-regular";
  color: $secondary-heading-grey;

  .masthead & {
    margin: 0;
  }
}

.view-content {

  h1 {
    margin-bottom: 15px;
    @include blocky-text;
    font: 60px/1 "proximanova-black";
    color: white;

    @include between(640px, 780px) {
      font-size: 45px;
    }

    @include less-than(640px) {
      font-size: 24px;
    }

    &.title-muted {
      font-size: 48px;

      @include between(640px, 780px) {
        font-size: 36px;
      }

      @include less-than(640px) {
        font-size: 18px;
      }

      a {
        text-decoration: none;
        color: $muted-heading-grey;

        span {
          display: block;
          color: $dark-body-text;
        }

        &:hover,
        &:focus {
          color: white;

          span {
            color: $muted-heading-grey;
          }
        }
      }
    }
  }

}
