@import "common";

h2 {
  font: 14px/1 "proximanova-regular";
  color: $secondary-heading-grey;
}

.view-content {

  h1 {
    @include blocky-text;
    font: 60px/1 "proximanova-black";
    color: white;
  }

}
