@import "common";

.masthead {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 75px 12% 50px 12%;
  background: $body-background;

  .brand {
    position: absolute;
    top: 75px;
    left: 0;

    > a {
      display: block;
      width: 54px;
      height: 54px;
      text-align: center;
      font: 36px/57px "proximanova-black";
      text-decoration: none;
      background: $pink;
      color: white;

      > span {
        display: none;
      }
    }
  }
}
