@import "common";

.masthead {
  margin-bottom: 25px;
  background: $body-background;

  @include less-than(640px) {
    > h2 {
      position: absolute;
      top: 82px;
      left: 110px;
      right: 10%;
    }
  }

  @include greater-than(640px) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 82px 10% 50px 10%;
  }

  .brand {
    @include greater-than(640px) {
      position: absolute;
      top: 75px;
      left: 0;
    }

    > a {
      display: block;
      margin-bottom: 25px;
      width: 54px;
      height: 54px;
      text-align: center;
      font: 36px/57px "proximanova-black";
      text-decoration: none;
      background: $pink;
      color: white;

      > span {
        display: none;
      }
    }
  }
}
