@import "common";

.primary-nav {
  margin-top: 8px;

  li {
    @include inline-block;
    color: $dark-body-text;

    a {
      text-decoration: none;
      color: $dark-body-text;

      &:hover,
      &:focus {
        color: white;
      }
    }

    &:not(:last-of-type):after {
      content: "/";
      margin: 0 15px;
    }
  }
}
