@import "common";

.view-container {
  display: table;

  img {
    display: block;
    margin-bottom: 50px;
    max-width: 100%;
  }

  p {
    margin-bottom: 15px;
    max-width: 540px;
  }

  ul {
    @include column-count(2);
    @include column-gap(20px);

    li {
      margin-bottom: 18px;
      font: 10px/1.2 "proximanova-semibold";
      @include blocky-text;
      color: $dark-body-text;

      p {
        margin: 0;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.view-content,
.view-side-content {
  display: table-cell;
  vertical-align: top;
}

.view-side-content {
  max-width: 300px;
  padding-right: 50px;
  font: 12px/1.5 "proximanova-semibold";
  color: $sidebar-text;

  h2 {
    margin-top: 50px;
  }

  a {
    color: $sidebar-text;
  }
}

.view-content {
  max-width: 650px;
}
