!!!

%head

  {% haml head.haml %}

%body

  .container

    {% haml masthead.haml %}

    {% capture result %}{% contentblock sidebar %}{% endcapture %}

    .view-container

      {% if result != "" %}

      %aside.view-side-content {{ result }}

      {% endif %}

      .view-content {{ content }}

    {% haml footer.haml %}

