%header.masthead

  %h1.brand
    %a{ href: "/" }
      A
      %span> bstraktion

  %h2 Journal &amp; Portfolio of Chris Garrett, Product&nbsp;Director

  %nav.primary-nav

    {% haml navigation.haml %}

