%ul

  %li
    %a{ href: "/" } Thoughts

  %li
    %a{ href: "/info" } Info

  %li
    %a{ href: "/projects" } Work

  %li
    %a{ href: "mailto:hello@abstraktion.co.uk" } Email

  %li
    %a{ href: "http://twitter.com/chrsgrrtt" } Twitter
