@import "compass";

// Colours

$body-background: #1E2124;
$body-text: #858F99;
$dark-body-text: #454B52;
$sidebar-text: #5C656E;
$secondary-heading-grey: #AAB1B8;
$muted-heading-grey: #7C8792;
$hr-background: #353B40;
$footer-background: #26292D;
$pink: #FF2A7F;

// Mixins

@mixin blocky-text {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
