---

title: Work

---

{% assign projects = site.projects | reverse %}

{% for project in projects %}

.project-excerpt

  %h1.title-muted

    %a{ href: "{{ project.url }}" }

      %span {{ project.client }}
      {{ project.title }}

  %hr

{% endfor %}
